body {
    background-color: #F2F2F2;
}

.cntr {
    width: 40%;
    background-color: white;
    height: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
}

.note-menu {
    height: 500px;
    background: pink;
}

.list-content {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

input.one-list-item {
    width: 200px;
    background: darkseagreen;
}

.hidden{
    display: none;
}
 /*#todo {
    position: relative;
    min-width: 330px;
}

#todo .add-todo {
    min-width: 330px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ffffff;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.3);
}

#todo .add-todo input[type="text"] {
    width: 90%;
    padding: 0 0 10px 0;
    font-size: 21px;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
}

#todo .add-todo input[type="submit"] {
    font-size: 19px;
    width: 10%;
    border: 1px solid black;
    background: white;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    cursor: pointer;
    outline: none;
}

#todo .add-todo input[type="submit"]:focus,
#todo .add-todo input[type="submit"]:hover {
    background: #ff009b;
}

ul.todo-list {
    margin: 0;
    padding: 0 0 0 0;
}

ul.todo-list li {
    -webkit-transition: box-shadow .20s ease;
    transition: box-shadow .20s ease;
    list-style: none;
    box-shadow: 0 2px 15px -8px black;
    margin-bottom: 30px;
    word-break: break-word;
    margin: 30px 30px 0;
}

ul.todo-list li:hover {
    box-shadow: 0 2px 15px -5px black;
}

ul.todo-list li input[type="checkbox"] {
    display: none;
}

ul.todo-list li label {
    position: relative;
    display: block;
    padding: 25px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.todo-list li label span {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 9px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 20px;
    height: 20px;
    color: #ffffff;
}

ul.todo-list li label span:hover {
    background: red;
}

ul.todo-list li input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    background: #4caf50;
    color: #ffffff;
}

.remove-List {
    margin: 30px 30px 130px 30px;
    cursor: pointer;
}

.remove-List.hidden {
    display: none;
}


/* .d__flex {
    display:flex;
    
}
.note-info {
    background-image: url("https://pp.userapi.com/c638330/v638330971/24226/XSb1maEU_js.jpg");
    background-size: cover;
    background-color: rgba(99, 12, 115, 0.77);
    background-blend-mode: darken;
    color: rgba(255, 255, 255, 0.86);
    position: relative;
}
.note-info__phone {
    justify-content: space-between;
    padding:5px;
}
.note-info-navigate {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.note-info__time {
    font-size: 1.3em;
    }
.note-name {
    padding: 60px 0px 20px 40px;
    font-size: 2em;
}
.back {
    cursor:pointer;
}
.more {
    cursor:pointer;
}
.note-add {
    float: right;
    padding-right:20px
}
.over {
    position: absolute;
    margin-top: -30px;
}

.note-menu__label {
    text-transform: uppercase;
    font-size: 1.1em;
    color: grey;
    padding-top:10px;
    padding-bottom: 20px;
}
.label {
    padding: 5px 0px 20px 0px;
}
.note-menu__details {
    align-items: center;
    padding: 15px 10px 20px 0px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14);
  cursor: pointer;
 
}

input {
    display: none;
}
.content {
    width: 70%;   
    display: flex;
    display: flex;
    align-items: center;
}
.content__title {
    font-size: 1.2em;
    padding-left: 20px;
}
.content__text {
    font-size: 1em;
    color:grey;
}
.star {
    color: yellow;
    cursor: pointer;
}
.phone {
   color: #8A0886; 
}
.check {
    color: #D8D8D8;
    cursor: pointer;
}
.pencil {
    color: #A9D0F5;
}
.asset {
    color:#BCA9F5;
}

.note-menu {
    flex: 0 0 auto;
    color:#210B61;
}
.mail {
    color: indianred;
}
.width {
    width: 10%;
}
.star_grey {
    color:lightgrey;
    cursor: pointer;
}
.delete {
    color:#E6E6E6;
    cursor: pointer;
}


#delete{
    padding:5px;
}

.complited{
  color: gray;
  text-decoration: line-through;
}



 @media (max-width: 900px) {
    .cntr {
        width:100%;
    }
    .note-info-navigate {
        padding: 5px;
    }
    .note-name {
    padding: 30px 0px 5px 5px;
}
    .note-add {
        float: right;
        padding-right: 5px;
    }
    .label {
    padding: 5px 0px 5px 10px;
}
}


*/